/* Default styles */
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
}

#snow-animation-container {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Blocks */
.header__inner {
    margin: 20px;
    padding: 10px 20px;
    background: #000000;
    border: 1px solid rgba(159, 159, 159, 0.31);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 10000;
}

@media (max-width: 600px) {
    .header__inner {
        margin: 10px;
        padding: 10px;
    }
}

.header__inner-bottom {
    margin: 0 20px;
    padding: 5px 20px;
    background: #000000;
    border: 1px solid rgba(159, 159, 159, 0.31);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__inner-bottom input {
    cursor: pointer;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    background: none;
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding: 20px;
    outline: none;
    border: none;
    position: relative;
    z-index: 1000000;
}

.header__inner-bottom button {
    font-size: 20px;
    font-weight: 400;
    background: none;
    border: none;
    position: relative;
    z-index: 11111;
}

.header__inner-bottom button a {
    color: white;
    -webkit-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
}

.header__inner-bottom button a:hover {
    color: #f19818;
}

@media (max-width: 600px) {
    .header__inner-bottom {
        margin: 0 10px;
    }
}

.header__logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 130px;
    flex: 0 0 130px;
    height: auto;
    cursor: pointer;
}

.header__logo img {
    width: 100%;
    height: auto;
}

@media (max-width: 500px) {
    .header__logo {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
        flex: 0 0 100px;
    }
}

.header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.header__profile-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
    font-size: 16px;
}

@media (max-width: 740px) {
    .header__profile-info {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 70px;
        flex: 0 0 70px;
    }
}

.header__like a {
    color: white;
    -webkit-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
}

.header__like a:hover {
    color: #f19818;
}

.header__menu {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.header__menu a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    -webkit-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
    cursor: pointer;
    text-transform: uppercase;
}

.header__menu a:hover {
    color: #f19818;
}

.header__menu ul {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.header__menu li {
    padding: 0;
    margin: 0;
    list-style: none;
}

@media (max-width: 740px) {
    .header__menu a {
        font-size: 12px;
    }

    .header__menu ul li:last-child {
        display: none;
    }
}

.header__search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 20px;
}

.header__search input {
    -webkit-transition: .5s linear;
    -o-transition: .5s linear;
    transition: .5s linear;
    margin-right: 10px;
    display: none;
    outline: none;
}

.header__search a {
    color: white;
    -webkit-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
}

.header__search a:hover {
    color: #f19818;
}

@media (max-width: 740px) {
    .header__search {
        margin-left: 10px;
    }
}

.header__profile {
    margin-left: 20px;
    background: blue;
    padding: 0px 5px;
    border-radius: 50%;
}

.header__profile a {
    color: white;
    -webkit-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
}

.header__profile a:hover {
    color: #000000;
}

@media (max-width: 740px) {
    .header__profile {
        margin-left: 10px;
    }
}

.header-search {
    display: none;
}

/* Vendor libs */
.container {
    max-width: 1500px;
    margin: 0 auto;
}
